/homework/Assignment_5/Gaddis_Ch6_Prob7_celsiusTempTable/build/
/homework/Assignment_5/Gaddis_Ch6_Prob7_celsiusTempTable/dist/
/homework/Assignment_5/Gaddis_Ch6_Prob8_CoinToss/build/
/homework/Assignment_5/Gaddis_Ch6_Prob8_CoinToss/dist/
/homework/Assignment_5/Gaddis_Ch6_Prob9/build/
/homework/Assignment_5/Gaddis_Ch6_Prob9/dist/
/homework/Assignment_5/Gaddis_Ch6_Prob10_futureValue/dist/
/homework/Assignment_5/Gaddis_Ch6_Prob10_futureValue/build/
/homework/Assignment_6/Gaddis_Ch7_Prob1_lrg_sml_array values/build/
/homework/Assignment_6/Gaddis_Ch7_Prob1_lrg_sml_array values/dist/
/homework/Assignment_6/Gaddis_Ch7_Prob2_RainfallStats/dist/
/homework/Assignment_6/Gaddis_Ch7_Prob2_RainfallStats/build/
/homework/Assignment_6/Gaddis_Ch7_Prob3_chipsnSalsa/build/
/homework/Assignment_6/Gaddis_Ch7_Prob3_chipsnSalsa/dist/
/Gaddis_Ch7_Prob4_<N/build/
/Gaddis_Ch7_Prob4_<N/dist/
/homework/Assignment_6/Gaddis_Ch7_Prob4_<N/build/
/homework/Assignment_6/Gaddis_Ch7_Prob4_<N/dist/
/homework/Assignment_6/Gaddis_Ch7_Prob5_MonkeyBusiness/build/
/homework/Assignment_6/Gaddis_Ch7_Prob5_MonkeyBusiness/dist/
/homework/Assignment_6/Gaddis_Ch8_Prob1_validate/build/
/homework/Assignment_6/Gaddis_Ch8_Prob1_validate/dist/
/homework/Assignment_6/Gaddis_Ch8_Prob2_Lottery/dist/
/homework/Assignment_6/Gaddis_Ch8_Prob2_Lottery/build/
/homework/Assignment_6/Gaddis_Ch8_Prob3_LotteryMod/build/